@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
}

.ticker-container {
    font-family: 'SpaceMono';
}

body::-webkit-scrollbar {
    width: 1vw;
    background-color: white;
}

/* ??? */
body::-webkit-scrollbar-track {

}

body::-webkit-scrollbar-thumb {
    background-color: #B0F1FF;
    max-height: 1vw;
}

#clearButton {
    cursor: crosshair;
}

#toDoList {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 6vh;
    line-height: 100%;
    color: black;
    margin-top: -25px;
}

.listText:hover {
    color: rgb(0, 0, 255);
    background-color: transparent;
    /* color: white;
    background-color: blue; */
    transition: color 5ms fade;
}

.progress {
    border-radius: 50%;
    height: 2vh;
    width: 2vh;
    font-size: 2vh;
    float: right;
    margin-top: 2vh;
    margin-left: 2vh;
    cursor: wait !important;
    background-color: transparent;
    border-color: blue;
    border-top-color: transparent;
    border-style: groove;
    border-width: 0.5vh;
    animation: progress 5s linear infinite;
}

@keyframes progress {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}