#toDoList {
    font-family: 'PermanentMarker';
    font-style: normal;
    font-weight: normal;
    font-size: 6vh;
    line-height: 100%;
    color: black;
    margin-top: -25px;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: transparent;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: crosshair;
    background-color: transparent;
    box-sizing: content-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0;
}

.progress {
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    font-size: 2vh;
    float: right;
    margin-top: 2vh;
    margin-left: 2vh;
    cursor: wait !important;
    background-color: transparent;
    animation: progress 5s linear infinite;
    background-image: url("../media/beach_ball.png");
    background-size: contain;
}

@keyframes progress {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('../fonts/PermanentMarker-Regular.ttf')  format('truetype');
}