#toDoList {
    font-family: 'PermanentMarker';
    font-style: normal;
    font-weight: normal;
    font-size: 6vh;
    line-height: 100%;
    color: black;
    margin-top: -25px;
}

.progress {
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    font-size: 2vh;
    float: right;
    margin-top: 2vh;
    margin-left: 2vh;
    cursor: wait !important;
    background-color: transparent;
    animation: progress 5s linear infinite;
    background-image: url("../media/beach_ball.png");
    background-size: contain;
}

@keyframes progress {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('../fonts/PermanentMarker-Regular.ttf')  format('truetype');
}