body {
    background-image: url("../media/paper.jpg");
    background-repeat: no-repeat;
}

.listText:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    color: black;
    text-decoration-thickness: 3.5px;
    text-decoration-skip-ink: none;
    background-color: transparent;
}

#toDoList {
    font-family: 'Proposi';
    font-style: normal;
    font-weight: normal;
    font-size: 8vh;
    line-height: 100%;
    color: black;
    margin-top: -25px;
}

#toDoListContainer {
    margin-left: -2vw;
}


@font-face {
    font-family: 'Proposi';
    src: url('../fonts/Propisi_W01_Medium.ttf')  format('truetype');
}
