body {
    background-image: url("../media/paper.jpg");
    background-repeat: no-repeat;
}

.listText:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    color: black;
    text-decoration-thickness: 3.5px;
    text-decoration-skip-ink: none;
    background-color: transparent;
}

#toDoList {
    font-family: 'Proposi';
    font-style: normal;
    font-weight: normal;
    font-size: 8vh;
    line-height: 100%;
    color: black;
    margin-top: -25px;
}

#toDoListContainer {
    margin-left: -2vw;
}


.progress {
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    font-size: 2vh;
    float: right;
    margin-top: 3vh;
    margin-left: 2vh;
    cursor: wait !important;
    background-color: transparent;
    animation: progress 5s linear infinite;
    background-image: url("../media/thinking.png");
    background-size: contain;
}


@keyframes progress {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@font-face {
    font-family: 'Proposi';
    src: url('../fonts/Propisi_W01_Medium.ttf')  format('truetype');
}
