body {
    overflow-x: hidden;
}

#canvasplace {
    z-index: 1;
    overflow:hidden;
}

#logo {
    position:absolute; 
    top: 10px; 
    left: 10px;
}

#clearButton {
    position:absolute; 
    top: 10px; 
    right: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;

    background-color: white;
}
#img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10%;
    margin-left: -10%;
    width: 20%;
    height: 20%;
}
#toDoListContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10%;
    margin-left: -10%;
    width: 40%;
    height: 20%;
}

#toDoList {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    
    color: #001AFF;

    margin-top: 0;
}
.expand {
    display: none;
    font-size: 20px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.center {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}