/* https://code-boxx.com/html-css-news-ticker-horizontal-vertical/ */

/* OUTER CONTAINER */
.ticker-container {
    z-index: -1;
    height: 100vh;
    position: fixed;
    padding-left: 85vw;
    top: 0;
    bottom: 0;
    /* overflow: hidden; */
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    /* identical to box height, or 45px */
    
    color: #FF0000;
    text-orientation: upright;
    writing-mode: vertical-lr;
  }
   
  /* MIDDLE CONTAINER */
  
  /* INNER CONTAINER */
  @keyframes ticker {
    from { transform: translateY(100%); }
    to { transform: translateY(-100%); }
  }
  @keyframes ticker2 {
    from { transform: translateY(100%); }
    to { transform: translateY(-100%); }
  }
  .ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 30s;
  }
  .ticker-move2 {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker2;
    animation-duration: 30s;
    animation-delay: 15s;
  }

/*  .ticker-move:hover {
        animation-play-state: paused; /* Pause scroll on mouse hover
    } 
*/
  
  /* ITEMS */
  .ticker-item {
    display: inline-block; /* Lay items in a horizontal line */

  }