/* https://code-boxx.com/html-css-news-ticker-horizontal-vertical/ */

.ticker-container {
    z-index: 2;
    height: 100vh;
    position: fixed;
    margin-left: 85vw;
    width: 6vh;
    top: 0;
    bottom: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 5vh;
    line-height: 100%;
    color: #FF0000;
    /* text-orientation:sideways-right; */
     /* Original style: Please change back to see what you like the best. */
    text-orientation:upright; 
    writing-mode: vertical-lr;
}

@keyframes ticker {
    from { transform: translateY(0%); }
    to { transform: translateY(-200%); }
}

@keyframes ticker2 {
    from {
      transform: translateY(0%); }
    to { 
      transform: translateY(-200%); }
}

/* The animation duration and delay have to all be adjusted when the speed is changed. 
Changing the animation keyframes also changes speed. */

.ticker-move {
    display: inline-block;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 20s;
}

.ticker-move2 {
    display: inline-block;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker2;
    animation-duration: 20s;
    animation-delay: 10s;
}

.ticker-container:hover .ticker-move{
    animation-duration: 60s;
  }

  .ticker-container:hover .ticker-move2 {
    animation-duration: 60s;
    animation-delay: 30s;
}
