/* https://code-boxx.com/html-css-news-ticker-horizontal-vertical/ */

.ticker-container {
    z-index: -1;
    height: 100vh;
    position: fixed;
    margin-left: 85vw;
    width: 6vh;
    top: 0;
    bottom: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 6vh;
    line-height: 100%;
    color: #FF0000;
    text-orientation: upright;
    writing-mode: vertical-lr;
}

@keyframes ticker {
    from { transform: translateY(0%); }
    to { transform: translateY(-200%); }
}

@keyframes ticker2 {
    from {
      transform: translateY(0%); }
    to { 
      transform: translateY(-200%); }
}

.ticker-move {
    display: inline-block;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 80s;
}

.ticker-move2 {
    display: inline-block;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker2;
    animation-duration: 80s;
    animation-delay: 40s;
}