.seldom, [data-colors="seldom"] {
    
    /* --full-color: rgb(255, 143, 92);
    --transparent-color:  rgb(255, 143, 92, 0.114); */
    --full-color: rgb(90, 178, 255);
    --transparent-color: rgba(90, 178, 255, 0.114);
    --transparent-white: rgb(237,247,255);
    --transparent-bg: rgba(90, 178, 255, 0.02);
    --bg-color: rgba(90, 178, 255, 0.094);
    --progressbar-color: rgba(90, 178, 255, 0.2);
    --progressbar-bg: rgba(90, 178, 255, 0.05);
    --progressbar-hover: rgba(90, 178, 255, 0.7);
}
.sometimes, [data-colors="sometimes"] {
    /* --full-color: rgb(216,79,46);
    --transparent-color: rgb(216,79,46, 0.114); */
    --full-color: rgb(74,89,207);
    --transparent-color: rgba(74,89,207, 0.114);
    --transparent-white: rgb(235,237,250);
    --transparent-bg: rgba(74,89,207, 0.02);
    --bg-color: rgba(74,89,207, 0.094);
    --progressbar-color: rgba(74,89,207, 0.2);
    --progressbar-bg: rgba(74,89,207, 0.05);
    --progressbar-hover: rgba(255, 255, 255, 0.7);
}
.often, [data-colors="often"] {
    /* --full-color: rgb(177, 15, 0);
    --transparent-color:  rgb(179, 15, 0, 0.114); */
    --full-color: #39009E;
    --transparent-color: rgba(58, 0, 158, 0.114);
    --transparent-white: #e9e3f4;
    --transparent-bg: rgba(58, 0, 158, 0.02);
    --bg-color: rgba(58, 0, 158, 0.094);
    --progressbar-color: rgba(58, 0, 158, 0.2);
    --progressbar-bg: rgba(58, 0, 158, 0.05);
    --progressbar-hover: rgba(58, 0, 158, 0.7);
}

body {
    overflow: hidden;
    display: block;
}
img { display:inline;
    vertical-align:text-top!important;
cursor: pointer; }

#maincontainer {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* top: 10vh; */
    left: 0;
    display: flex;
    background-color: #e8eaed;
}


/* Navigation */

#nav {
    /* position: fixed; */
    left: 0;
    top: 0;
    /* height: 82px; */
    width: 100vw;
    background-color: #e8eaed;
    text-align: justify;
    background-image: url('media/menubasic2.jpg');
    background-size: contain;
    background-position:top;
    background-repeat: no-repeat;
    vertical-align: middle;
}
#nav > img {
    vertical-align: top!important;
    opacity: 0;
    width: 100vw;
    height: auto;
} 

#menubutton, #help {
    display: inline;
    margin: auto;
    top: 0.6vh;
    margin-top: 0.4vh;
    position: absolute;
    right: 3.5vw;
    background-color: #b3b3b3;
    border: none;
    border-radius: 3px;
}
#help {
    background-color: #f8f9fa;
   
    font-size:large;
    font-weight: bold;
    right: 1vw;
    width: 2vw;
}
.display#menubutton {
    display: inline;
    background-color: #e8f0fe;
}
#menubutton:hover, #help:hover{
background-color: #e8f0fe;
color: rgb(61, 103, 255);
}

#textcontainer {
    z-index: 2;
    position: relative;
    overflow-y: scroll;
    order: 1;
    /* float: left; */
    flex-basis: auto;
    flex-grow: 3;
    /* width: 69vw;
    max-width: 70vw; */
    height: 90vh;
    background-color: #f8f9fa; 
    cursor: auto;
}

#textarea {
    position: relative;
    width: 60vw;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-sizing: border-box;
    background-color: white;
}

#text {
    cursor: text;
    padding: 7vw;
    padding-top: 15vh;
    background-color: white;
    box-shadow: inset 1px 1px 4px 0.5px #b3b3b3, inset -1px -1px 4px 0.5px #b3b3b3;

}

[contenteditable] {
    outline: 0px solid transparent;
  }
#checkcontainer {
    display: none;
    position: relative;
    overflow-y: scroll;
    order: 2;
    /* float: right; */
    width: 25vw;
    height: 90vh;
   
    background-color: white;
    box-shadow: inset 1px 1px 2px 0.1px #b3b3b3, inset -1px -1px 2px 0.1px #b3b3b3;
}
#checkcontainer.display {
    display: block!important;
}
#checkcontainer::-webkit-scrollbar{
    display:none;
}
#checknav {
    display: fixed;
    /* position: absolute; */
    /* margin-top: -2vw; */
    width: 100%;
    height: 3rem;
    /* margin: auto; */
    padding-top: 0.5rem;
    background-color: rgb(218, 220, 224);
    text-align: justify;
    justify-content: space-evenly;
}
#checkarea {
    padding: 3vw;
    
}
.checkbutton {
    /* display: inline-block; */
    background-color: var(--full-color, #b3b3b3);
    height: 2rem;
    width: 20%;
    vertical-align: middle;
    /* padding: 0.1rem; */
    border: transparent;
    border-radius: 3px;
}
#navspell {
    position: relative;
    top: 0;

}

#wordscheck {
    /* line-height: 200%; */
    text-align: center;
    font-size: medium;
}
.words {
    transition: all 0.5s linear, border 0.4s ease, border-left 0ms;

}
.text-wrong {
    /* border: 1px solid transparent; */
    
    /* background-color: #39009E; */
    /* opacity: 0.5; */
    background-color: transparent;
    /* box-shadow: inset 0 -4px 4px -4px var(--full-color); */
    padding: 0 1px 0 1px;
    text-decoration: 2px underline dashed var(--full-color);
    transition: all 0.5s ease-in;
}

.text-wrong.active{
    color: black;
    border-radius: 3px;
    font-size: 1rem;
    background-color: var(--progressbar-color);
    box-shadow: transparent;
    opacity: 1;
    text-decoration:  2px underline var(--full-color);

    /* box-shadow: 0 4px 2px -2px gray; */
    /* text-decoration: 1px underline wavy var(--full-color); */
}
.text-wrong del {
    text-decoration: none;
    font-weight: normal;
}
.text-wrong.active:hover del {
    text-decoration: line-through;
    font-weight: lighter;
    
    animation: fadeIn 1s;
}
.text-wrong b {
    display: none;  
    
    font-size: 1rem;
    /* transition: all 0.5ms linear; */
}
.text-wrong.active:hover b {
    display: inline;
    vertical-align: auto;
    /* background: #000; */
    animation: fadeIn 1s;
}
.text-wrong.enabled del {
    text-decoration: line-through;
    font-weight: lighter;
    
    animation: fadeIn 1s;
}
.text-wrong.enabled b {
    display: inline;
    vertical-align: auto;
    /* background: #000; */
    animation: fadeIn 1s;
}
.text-wrong.active-hover del {
    text-decoration: line-through;
    font-weight: lighter;
    
    animation: fadeIn 1s;
}
.text-wrong.active-hover b {
    display: inline;
    vertical-align: auto;
    /* background: #000; */
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.check-wrong {
    width: 100%;
    display: inline-block;
    margin-block-end: 1vh;
    border-left: 10px solid var(--full-color);
    border-radius: 3px;
}
.check-wrong.active-hover {
    /* background-color: gold!important; */

    box-shadow: inset 0 0 0 2px var(--full-color);
    border-radius: 3px;
} 
.check-wrong.active {
    background-color: var(--transparent-color);
   
}
.check-wrong.show{
    border: 0px var(--full-color);
}
.show {
    /* border-left: 10px solid #39009E; */
    
    background-color: var(--transparent-bg)!important;
   
    /* rgba(218, 220, 224, 0.50)!important; */
    
    /* border: 2px solid #39009E; */
}

.mistake {
    position: relative;
    font-size: 1rem;
    display: block;
    width: 100%;
    border-left: 0px solid var(--full-color);
    border-top-right-radius: 3px;
    transition: all 0.5s linear, border 0.4s ease, border-left 0ms;
    /* border-bottom-right-radius: 3px; */
}
.mistake:hover {
    /* background-color: #39009E; */
    border-radius: 3px;
    /* color: white; */
}

.active > .mistake { font-size: large;}
.show .mistake {
    /* color: white; */
    background-color: var(--bg-color);
  border-bottom: 1px double white;
    border-left: 1rem solid var(--full-color);
   padding-left: -1rem;
    /* background: linear-gradient(90deg, rgba(57,0,158,1) 15%, rgba(58,0,158,0.114) 15%); */
    border-radius: 3px;

}
.active-hover {
    /* background-color: gold!important; */
   box-shadow: inset 0 0 0 1px var(--full-color);

}
.hidden {
    padding-bottom: 0.5rem;
    transition: all 0.5s ease;
    display: none;
}
.pastsentence {
    display: block;
    font-size: 0.8rem;
    line-break:normal;
    line-height: 120%;
    text-align: left;
    margin-bottom: 0.5rem;
    max-height: 8rem;
    min-height: 2rem;
    overflow: auto;
    /* padding: 1rem; */

}


/*Popover Style */
.popover .arrow:after {
    border-top-color: var(--full-color);
    border-bottom-color: var(--full-color);
}

.arrow::before,
.arrow::after {
   
    border-top-color: var(--full-color);
    border-bottom-color: var(--full-color);
  position: absolute;
  display: block;
  content: "";
  /* border-color: transparent; */
  border-style: solid;
}
.popover-body {
    background-color: white;
    height: fit-content;  
    width: 200px;  
    color: black;
  }
  .popover {
    border: 2px solid var(--transparent-color);
  }
  .popover del {
        text-decoration: line-through;
       font-weight: lighter;
       font-size: 1rem;
  }
  textarea.popover-textarea {
     border: 0px;   
     margin: 0px; 
     width: 100%;
     height: 100%;
     padding: 0px;  
     box-shadow: none;
  }
  
  .popover-footer {
    margin: 0;
    /* padding: 8px 14px; */
    /* font-size: 14px; */
    /* font-weight: 400; */
    /* line-height: 18px; */
    height: 20px;
    font-size: 14px;
    color:white;
    text-align: center;
    background-color: var(--transparent-white);
    border-bottom: 1px solid #EBEBEB;
    border-radius: 0 0 3px 3px;
  }
.popover-footer span {
   
    border: 3px;
    display: block;
    height: auto;
    width: 50%;
    cursor: pointer;
     text-align: center;
     transition: all 0.5s ease-in-out;
     
}
.popover-footer span:hover, .mistake span:hover {
    color: white;
    background-color: var(--full-color);
}
  .popover-check {
    color: black;
    box-shadow: inset 1px 0 0px 1px white;
     float: right;
  }
  .popover-cancel {
      background-color: rgba(255, 255, 255, 0.796);
      color: #aaa;
      box-shadow: inset 0px 0 1px 1px white;
      float: left;
  }
  .cancel, .check {
    display: none;
    position: absolute;
    margin-top: -1.6rem;
    right:10%;
    margin-right: 3px;
      width: 10%;
      padding: 0 3px;
    cursor: pointer;
    color: var(--full-color);
    /* box-shadow: inset 1px 0 0px 1px white; */
     float: right;
     border-radius: 3px;
  }
  .cancel {
      right: 0;
   /* margin-right:-1px; */
    /* background-color: rgba(255, 255, 255, 0.796); */
    color: #aaa;
  }
  .show > .mistake > .cancel, .show > .mistake > .check {
      display: block;
      animation: fadeIn 1s;
      
  }
  .active-hover> .mistake > .cancel, .active-hover >  .mistake >.check {
    display: block;
    animation: fadeIn 1s;
}

*::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
*::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}
*::-webkit-scrollbar-corner {
    background: transparent;
}
*::-webkit-scrollbar-track {
    box-shadow: none;
    margin: 0px 4px;
}
*::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-width: 0px 0px 0px 4px;
}
*::-webkit-scrollbar-track:hover {
    box-shadow: none;
    background: none;
}

*::-webkit-scrollbar-thumb {
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
    background-color: rgb(218, 220, 224);
    border-radius: 8px;
    box-shadow: none;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(128, 134, 139);
}

*::-webkit-scrollbar-thumb:active {
    background-color: rgb(95, 99, 104);
}
.checking {
    line-height: 1.2rem;
    text-align: left;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
h1 {
    font-size: 1rem;
}
del {
    text-decoration: line-through;
   font-weight: lighter;
   /* font-size: 1rem; */
}
em {
font-weight: bold;
font-style: normal;
    text-emphasis: filled sesame;
}
hr {
    padding: none;
}

/* Progressbar style */
.history {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;
    /* font-weight: bold; */
    color: var(--full-color);
    text-align: center;
}
.bar {
    position: relative;
    display: block;
    border-radius: 9px;
  background-color: var(--progressbar-bg);
  height: 1.5rem;
  width: 90%;
  /* margin-top:0.5rem; */
  margin-bottom: 0.5rem;
  /* margin:auto; */
  font-size: 1rem;
  text-align: left;

}
.progressbar {
    position: relative;
    /* font-size: 1rem; */
    height: 100%;
    float: left;
    box-sizing: inherit;
    color: white;
    border-radius: 9px;
    background-color: var(--progressbar-color);
    text-align: center;

}

.bar:hover .progressbar{
    background-color: var(--progressbar-hover);
}

.tooltip-j {
    /* position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; */
  }
  
  .tooltip-j .tooltiptext {
    visibility: hidden;
    width: 10vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-j .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip-j:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }