

html {
    overflow: auto;
}

body {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.buttons {
    position:absolute; 
    width: 10%;
    top: 4000px;
    left: 45%;
    z-index: 11; 
    color: rgb(158, 158, 132);
    background-color: transparent;
    border: 0.2 rgb(158, 158, 132);
    cursor: pointer;
}
#random {top: 3000px;}

#more {top: 2000px;}
#wrapper1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('media/wallet2.jpg');
    background-size: cover;
    position: fixed;
    /* display: block; */
    left:0px;
    top:0px;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}
#wrapper2 {

    position: fixed;
    left: 12.5vh;
    top: 12.5vh;
    width: calc(100% - 25vh);
    height: calc(100% - 25vh);
    /* background-color: blue; */
}
#wrapper3 {
    position: fixed;
    left: 25vh;
    top: 25vh;
    width: calc(100% - 50vh);
    height: calc(100% - 50vh);
    /* background-color: green; */
}
#wrapper4 {
    position: fixed;
    left: 37.5vh;
    top: 37.5vh;
    width: calc(100% - 75vh);
    height: calc(100% - 75vh);
    
    /* background-color: green; */
}
#main {
    height: 5000px;
    position: relative;
}
.static {
    position: absolute;
    width: 100%;
}

.moving {
    position: fixed;
    width: 100%;
}

#mountain {
    bottom: 0;
}

#mountain2 {
    width: 50%;
    height: auto;
    bottom: 12%;
    animation: floating 100s infinite alternate-reverse;
}
@keyframes floating {
    from {transform: rotate(0deg);
    left: -10%;}
    to {left: 90%;}
}
#mountain3 {
    z-index: -1;
    top: 10%;
}
#mountain4 {
    z-index: 3;
    top: 0;
}
/* Scrollbar */
#second {
    
    width: 100%;
    top: 50%;
}

body::-webkit-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    width: 15vh;
    display: none;
    /* background-color: #F5F5F5; */
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* border: 4px solid transparent; */
    z-index: 1;
    background-clip: inherit;
}

body::-webkit-scrollbar-thumb {
    /* background: #000; */
    /* background-image: url('media/coin1.png'); */
    background: url('media/coin1.png') center/15vh no-repeat;
    /* background-repeat: no-repeat;
    background-size: 15vh; */
    height: 15vh;
    
    animation: coins 20s linear infinite;
}
.innerWrapper {
    margin: 15vh;
    }
.scrollimage {
   display: block;
    position: absolute;
    height: 12.5vh;
    width: auto;
    /* visibility: hidden; */
    transition: all 1ms linear;
    animation: coins 15s linear infinite;
    /* movement 10s linear infinite; */
    animation-direction: normal;
    animation-play-state: paused;
}
.scrollbutton {
    position: fixed;
    height: 15vh;
    top: 85vh;
    right: 0;
    width: auto;
    left: auto;
    /* visibility: hidden; */
    transition: all 1ms linear;
    animation: coins 15s linear infinite;
    /* movement 10s linear infinite; */
    animation-direction: normal;
    animation-play-state: paused;
    z-index: 10;
}
.reverse {
    animation-direction: reverse;
}
/* .scrollimage0 {
    right: 0;
    bottom: 0;
}
.scrollimage1 {
    right: 0;
    top: 0;
}
.scrollimage2 {
    left: 0;
    top: 0;
   
}
.scrollimage3 {
    left: 0;
    bottom: 0;
}  */

@keyframes coins {
    from {
       transform: rotate(0deg);
    }
    to {
       transform: rotate(360deg);
    }
}


/* @keyframes movement {
    0% {
        visibility:visible;
        left: 0;
    top: 0;}
    30% {left: calc(100% - 15vh);
    top: 0;}
    50% {top: calc(100% - 15vh);
    left: calc(100% - 15vh);}
    80%{left: 0;
        top: calc(100% - 15vh);}
    100%{left: 0;
            top: 0;
           }
} */
