html {
    overflow: auto;
}

body {
    
    background-image: url('http://www.glittertextonline.com/imgz/DCglit47.gif');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#wrapper1 {
    position: fixed;
    width: 100%;
    height: 100%;
}
#main {
    height: 5000px;
    position: relative;
}
.static {
    position: absolute;
    width: 100%;
}

.moving {
    position: fixed;
    width: 100%;
}

#mountain {
    bottom: 0;
}

#mountain2 {
    width: 50%;
    height: auto;
    bottom: 12%;
}
#mountain3 {
    z-index: -1;
    top: 10%;
}
#mountain4 {
    z-index: 3;
    top: 0;
}
/* Scrollbar */
#second {
    
    width: 100%;
    top: 50%;
}
body::-webkit-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    width: 15vh;
    display: none;
    /* background-color: #F5F5F5; */
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* border: 4px solid transparent; */
    z-index: 1;
    background-clip: inherit;
}

body::-webkit-scrollbar-thumb {
    /* background: #000; */
    /* background-image: url('media/coin1.png'); */
    background: url('media/coin1.png') center/15vh no-repeat;
    /* background-repeat: no-repeat;
    background-size: 15vh; */
    height: 15vh;
    
    animation: coins 20s linear infinite;
}
.innerWrapper {
    margin: 15vh;
    }
.scrollimage {
    position: fixed;
    height: 15vh;
    width: auto;
    transition: all 1ms linear;
    animation: coins 15s linear infinite;
    animation-play-state: paused;
}
#scrollimage {
    right: 0;
    bottom: 0;
}
#scrollimage1 {
    right: 0;
    top: 0;
}
#scrollimage2 {
    left: 0;
    top: 0;
}
#scrollimage3 {
    left: 0;
    bottom: 0;
}
@keyframes coins {
    from {
       transform: rotate(0deg);
    }
    to {
       transform: rotate(360deg);
    }
}