/* From W3school */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  /* width: 100%; */
  line-height: 1.8;
  position: relative;
}

/* Full height image header */
.bgimg-1 {
  position: relative;
  margin-top: 25vh;
  top: 25vh;
  left: 0;
  background-position: center;
  background-size: cover;
  background-image: url("media/mac.jpg");
  min-height: 100%;
}


.w3-bar .w3-button {
  padding: 16px;
}

#logoPic {
  max-height: 4vh;
}

* {
  transition: color box-shadow background-color 5ms ease;
}

p:active,
h1:active,
h2:active,
h3:active,
a:active,
i:active {
  /* border: 1px groove white; */
  background-color: #ffcf776b;
}

*:active {
  color: black;
}

div:hover {
  /* border: 1px groove white; */
  /* box-shadow: 0px 0px 5px 1px #f04545; */
}

#outer {
  position: absolute;
  transform-origin: center;
}

#puzzlenav {
  position: fixed;
  width: 50vw;
  top: 10vh;
  left: 50vw;
  margin-left: -25vw;
  height: fit-content;
  background-color: transparent;

    /* background-color: rgb(0, 0, 0);
    background-image: url('https://media1.giphy.com/media/x8Jmfuz6xbVCM/giphy.gif?cid=ecf05e47n05qkeg3j0yj2ptje4bkfkkqbmpnp5tynfowia5j&rid=giphy.gif&ct=g');
    background-position: top left;
    background-repeat: repeat;
    background-attachment: fixed; */
 border: 2px groove black;
  box-shadow: 0px 0px 5px 1px #f04545;
  animation: shine 1s infinite ease alternate,
  moving 100s infinite linear alternate;
  z-index: 5;
  transition: all 0.5s linear;
  /* border-radius: 10px; */
}

#puzzlenav:hover {
  animation-play-state: paused;

  box-shadow: inset 0px 0px 5px 1px white;
  background-color: #f04545;
  color: white;
}
#puzzlenav:hover #shuffle {
  
  background-image: url('http://www.glittertextonline.com/imgz/red-01.gif');
}
#puzzlenav:hover input[type=range]::-webkit-slider-thumb {
  background: white;
  
  border: 1px groove black;
}
#puzzlenav:active {
  animation-play-state: paused;
}

#shuffle {
  cursor: pointer;
  border: 2px groove white;
  /* border-radius: 5px; */
  color: #f04545;
  text-shadow:  0.5px 0.5px white,  -0.5px -0.5px white, 1px 1px 1px black, -1px -1px 1px black;
  /* text-shadow: 0px 0px 2px 1px #ffcf77; */
  background-color: transparent;
  background-size: contain;
  box-shadow: 0px 0px 5px 2px #000;
  position: absolute;
  margin-top: 10px;
  margin-left: 25px;
}
@keyframes shine {
  from {
    box-shadow: 0px 0px 5px 1px #f04545;
  }

  to {
    box-shadow: inset 0px 0px 5px 1px #fff;
    box-shadow: 0px 0px 5px 1px #fff;
  }
}

@keyframes moving {
  0% {
    top: 10vh;
    left: 50vw;
    margin-left: -25vw;
  }

  25% {
    top: 90vh;
    left: 50vw;
    margin-left: -25vw;
  }

  50% {
    top: 50vh;
    left: 75vw;
    margin-left: -25vw;
  }

  75% {
    top: 50vh;
    left: 25vw;
    margin-left: -25vw;
  }

  100% {
    top: 10vh;
    left: 50vw;
    margin-left: -25vw;
  }

}

input[type=range] {
  height: auto;
  width: 50%;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 30px;
  width: 15px;
  /* border-radius: 5px; */
  background: black;
  border: 1px groove white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 10px;
}