html,
body {
  overflow: hidden;
  height: 100%;
}
.scroll {
  position: sticky;
  overflow-y: scroll;
  height: 90%;
}
.inside {
  height: 2000%;
}
#lyrics {
  position: absolute;
  width: 50%;
  left: 25vw;
font-size: 60px;
  top: 40vh;
  margin:auto;
  text-align: center;
}
