@font-face {
  font-family: "Champaigne";
  src: url("cac_champagne.ttf") format("truetype");
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-image: url("media/velvet.jpeg");
}
.scroll {
  position: sticky;
  overflow-y: scroll;
  height: 100%;
}
.inside {
  height: 2000%;
}

#lyrics {
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  top: 45vh;
  margin: auto;
  text-align: center;
  color: white;
}
#lyrics span {
  font-family: Champaigne;
  color: goldenrod;
  position: relative;
  opacity: 0;
  animation: move-text 0.3s forwards;
}
#mouth {
  position: absolute;
  width: 100px;
  top: 20px;
  animation-name: shadow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 9999999;
}

@keyframes move-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shadow {
  from {
    filter: drop-shadow(0 10px 10px rgba(255, 255, 255, 1));
  }
  to {
    filter: drop-shadow(0 10px 10px rgba(255, 255, 255, 0));
  }
}

#ready {
  position: absolute;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  animation-name: shadow2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shadow2 {
  from {
    filter: drop-shadow(0 3px 3px rgba(255, 255, 255, 1));
  }
  to {
    filter: drop-shadow(0 3px 3px rgba(255, 255, 255, 0));
  }
}

audio {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 10px;
}