* {
    --menu-color: #F4F3F3;
}


body, html {
margin: 0;
background-color: white;
}
header {
    /* height: 10vh; */
  /* width: 100vw; */
  display:flex;
  flex-flow: wrap row;
  align-content: space-around;
  justify-content: space-between;
  /* flex-wrap: nowrap; */
  flex-direction: row;
  align-items: center;
    top: 0;
    left: 0;
    padding: 1vmin;
    background-color: var(--menu-color);
}
.menu {
    display:flex;
    align-content: space-around;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--menu-color);
}
.menu a {
    font-size: 4vmin;
   margin: 0 4vw;
    cursor: pointer;
}
/*** Studio Name ***/
h1 {
    flex: 1;
    flex-shrink: 1;
    padding-left: 1vw;
font-size: 8vmin;
}
.container {
    /* height: 90vh; */
 padding: 1vh 4vw;
 background-color: blue;
}

.element-wrap {
    height: 7vh;
}
.element-wrap img {
    display:inline;
    height: 7vh;
    width: auto;
}